<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <span class="logo">HelpDesk</span>
        <nav>
            <a href="/">Главная</a>
            <a href="/contacts">Обратная связь</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>Все права защищены</footer>

    <script>
        function showToast(message, type = 'error') {
            const toast = document.getElementById('toast');
            toast.className = `toast-notification toast-error`;
            toast.querySelector('.toast-message').textContent = message;
            toast.style.display = 'block';

            setTimeout(() => {
                toast.style.display = 'none';
            }, 3000);
        }
    </script>
    @if (TempData["ToastMessage"] != null)
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                showToast('@Html.Raw(TempData["ToastMessage"])', '@TempData["ToastType"]');
            });
        </script>
    }

</body>
</html>
