@model Contact
@{
    ViewData["Title"] = "Обратная связь";
}

<h1>Обратная связь</h1>

<form method="post" asp-controller="Contacts" asp-action="Check">

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="Message"></label>
    <textarea asp-for="Message" rows="4"></textarea>
    <span asp-validation-for="Message"></span>

    <input type="submit" value="Отправить" />
</form>
